main {
  margin-top: 6.3rem;
  color: white;
  & h4 {
    color: #ff55a5;
    padding: 2rem 4rem;
    font-weight: 300;
    background-color: #2B2B31;
    border-top: 3px solid #ff55a5;
    margin: 0;
  }

  & section {
    background-position: top;
    background-repeat: no-repeat;
    padding: 2rem 4rem;
    background-color: #2B2B31;

  }
  & .input {
    border-bottom: 3px solid #ff55a5;
    & p {
font-size: 20px;
      text-align: center;
      margin: 1rem auto 0 auto;
      background: #28282d;
      border-radius: 30px;
     max-width: 500px;
      border: 3px solid #ff55a5;
    }
  }

  & .container {
    min-height: 320px;
    & .row {
      justify-content: center;
    }
    & .cover img {
      width: 100%;
      height: auto;
      min-height: 300px;
    }

    & .content {
      margin: 1rem 0;
      & .link {
        text-decoration: none;
        color: white;
        font-size: 20px;
        & span {
          margin-left: 3px;
        }
        &:hover {
          color: #ff55a5;
        }
      }
    }
  }
}